* {
	font-family:"Trebuchet MS","sans-serif";
}
/* Stuff for "branding" */
#banner{
	position:relative;
	height:100%;
	left:2%;
	top:-43px;
	z-index:15;
	border: none;
}
.pagetitle{
    font-size: 17px;
}
.ctpsHeader{
	height:59px;
	background-color:white
}

.lightBlue{
	height:27px;
	width:100%;
	background-color:#7DA1C4;
	z-index:10;
}

.darkBlue{
	height:16px;
	width:100%;
	background-color:rgb(13,72,127);
	z-index:10;
}
/* End of stuff for "branding" */

#wrapper {
    width: 100%;
    height: 600px;
}
#legend {
    margin-top: 10px;
    margin-bottom: 10px;
}
#map_wrapper {
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}
#addressForm {
    margin-bottom: 10px;
}
#map_options_div {
    margin-bottom: 10px;
}
#map {
    height: 100%;
    border: 4px solid #B87F32; 
}

#output_div {
    width:  1000px;
    height: content;
}

#intersection_location_table #roadseg_location_table {
    padding-top: 10px;
}
/* Single-line 1px border around table cells */
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
.table_pseudo_caption {
    margin-bottom: 0;
    background-color: steelblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.location_data_table {
}
.intersection_data_table {   
}
.roadseg_data_table {
}
.location_table_header {
    background-color: steelblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.location_table_detail_header {
    background-color: moccasin;s
    color: black;
    font-size: 14px;
    font-weight: bold;
}

td.intersection_data {
    min-width: 25px;
}
td.roadseg_data {
    min-width: 25px;
}

/* Rule to align the text in all cells of all tables in the output_div */
#output_div table td {
    text-align: center;
}

/* Throttle the jQueryUI font size back a bit */
.ui-widget {
    font-size:80% !important;
}
.tabbody {
    min-height: 250px;
}
#legend_caption {
    margin-top: 5px;
    margin-bottom: 5px;
}
#legend {
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}
.legend_svg {
    height: 30px;
    width: 30px;
}
.legend_svg_line {
    height: 53px;
    width: 100px;
}